.containerDiv {
    display: flex;
    justify-content: center;
}

@media (min-width: 481px) {
    .div {
        grid-template-columns: repeat(7, auto);
    }
}

@media (max-width: 480px) {
    .div {
        grid-template-columns: repeat(3, auto);
    }
}